*{
    border:0px;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    height:100vh;
    width:100vw;
}
.container{
    height:100%;
    width:100%;
    background-color: black;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap:0.4rem;
    padding:4rem;
    border: 3px solid white;
    /* Below is for all items in their corersponding cells */
    justify-items:center;
    align-items:center;
    /* Place items similarly. */
}
.item{
    height:100px;
    width:100px;/* Unmark these for stretch */
    background-color: darkcyan;
    border: 5px solid white;
    /* justify-self: center; 4 types, make a note. End, start, middle */

    /* justify-self: stretch;
    align-self: stretch; */
    /* place-self:stretch;Combination of both the properties */
    /* Above is for one item in a cell. */

}