*{
    border:0px;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    height:100vh;
    width:100vw;
}
.container{
    height:100%;
    width:100%;
    display:grid;/*Note this*/
    padding:4rem;
    background-color: grey;
    row-gap: 1rem;/*Note this*/
    column-gap: 1rem;/*Note this*/
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
    /* grid-template-rows: 100px 100px ;Note this General Notation for width of each element you wanna make*/
    /* These two lines make uniform distribution in the UI */
    /* Notes about Fractional Width , fr refers to fractional width of parent */
}
.item{
    background-color:rgb(52, 110, 110);
    border: 5px solid black;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
@media screen and (min-width:768px){
    .container{
        grid-template-rows: repeat(4,1fr);/*repeat function*/
        grid-template-columns: repeat(3,1fr);/*Note this*/
    }
    .header{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .footer{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .sidebar{
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .content1{
        grid-column-start: 2;
        grid-column-end: 4;
    }
}